[submodule "libipset"]
	path = libipset
	url = https://github.com/shadowsocks/ipset.git
	branch = shadowsocks
[submodule "libbloom"]
	path = libbloom
	url = https://github.com/shadowsocks/libbloom.git
[submodule "libcork"]
	path = libcork
	url = https://github.com/shadowsocks/libcork.git
	branch = shadowsocks
